
body	{
	background-color: lightblue;
	background-image: url("../00. Gambar/paisley.png");
	background-repeat: no-repeat;
	background-position: top center;


	
}


h1	{
	font-size: 26px;
	color: green;
	text-decoration: line-through;
	text-transform: uppercase;
	letter-spacing: 5px;
}


p {
	color: red;
	font-family: sans-serif;
	background: white url("../00. gambar/forestfog_Kyle.jpg") no-repeat top left;
}